span.glyphicon-chevron-right
{
  margin: 0 auto;
}

.carousel-indicators-shadow
{
  /*background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 50%); /* Safari 5.1 to 6.0 */
  /*background: -o-radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 50%); /* For Opera 11.6 to 12.0 */
  /*background: -moz-radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 50%); /* For Firefox 3.6 to 15 */
  /*background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 50%); /* Standard syntax */
  background-image: url('../assets/carousel_indicator_shadow.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.well p
{
  font-size: 16px;
}

.vertical-align-center
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
