span.glyphicon-chevron-right
{
  margin: 0 auto;
}

.carousel-indicators-shadow-2
{
  background-image: url('../assets/carousel_indicator_shadow_2.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel-indicators-shadow-3
{
  background-image: url('../assets/carousel_indicator_shadow_3.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel-indicators-shadow-5
{
  background-image: url('../assets/carousel_indicator_shadow_5.png');
  background-repeat: no-repeat;
  background-position: center center;
}

@-moz-document url-prefix()
{
  .carousel-inner
  {
    max-width: 240px !important;
  }

  #carousel_briscola
  {
    max-width: 180px !important;
  }
}

@media (max-width: 991px)
{
  .well p
  {
    margin-bottom: 25px;
  }

  .carousel-inner
  {
    max-width: 350px !important;
  }
}

@media (min-width: 992px)
{
  .vertical-align-center
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

@media (min-width: 768px)
{
  .jumbotron .well
  {
    margin-top: 62px;
  }
}

.jumbotron .first-well
{
  margin-top: 45px;
}

.well p
{
  font-size: 16px;
}

h2
{
  white-space: nowrap;
}

.img-thumbnail
{
  background: #ABC147;
}

.carousel-inner
{
  background: none;
}

.carousel-control.left, .carousel-control.right
{
  background-image: none;
}

.carousel-grouper
{
  display: inline-block;
  background: none;
}

#foot-note
{
  margin-top: 30px;
}

@media (max-width: 767px)
{
  .jumbotron .well
  {
    margin-top: 30px;
  }

  .jumbotron h1
  {
    white-space: normal;
    margin: 0px;
    margin-bottom: 10px;
  }

  .jumbotron h2
  {
    white-space: normal;
    margin: 0px;
    margin-bottom: 10px;
  }

  #foot-note
  {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  @-moz-document url-prefix()
  {
    .moz-xs
    {
      visibility: hidden;
      max-width: 0px;
      max-height: 0px;
    }
  }
}

/*h2 a
{
  color: #333333;
}

h2 a:hover
{
  text-decoration: none;
}*/
