span.glyphicon-chevron-right
{
  margin: 0 auto;
}

.carousel-indicators-shadow-2
{
  background-image: url('../assets/carousel_indicator_shadow_2.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel-indicators-shadow-3
{
  background-image: url('../assets/carousel_indicator_shadow_3.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel-indicators-shadow-5
{
  background-image: url('../assets/carousel_indicator_shadow_5.png');
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 991px)
{
  .well p
  {
    margin-bottom: 25px;
  }

  .carousel-inner
  {
    max-width: 350px !important;
  }
}

@media (min-width: 992px)
{
  .vertical-align-center
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

@media (min-width: 768px)
{
  .jumbotron .well
  {
    margin-top: 62px;
  }
}

@media (max-width: 767px)
{
  .jumbotron .well
  {
    margin-top: 30px;
  }
}

.jumbotron .first-well
{
  margin-top: 45px;
}

.well p
{
  font-size: 16px;
}

h2
{
  white-space: nowrap;
}

.img-thumbnail
{
  background: #ABC147;
}

.carousel-inner
{
  background: none;
}

.carousel-control.left, .carousel-control.right
{
  background-image: none;
}

.carousel-grouper
{
  display: inline-block;
  background: none;
}

/*h2 a
{
  color: #333333;
}

h2 a:hover
{
  text-decoration: none;
}*/
