small
{
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: -10px;
}

a
{
  text-decoration: none;
  color: #333333;
}

a:hover
{
  text-decoration: underline;
  color: #2A64B0;
}

.jumbotron
{
  background: #FFFFFF;
}

.jumbotron h3
{
  font-size: 18px;
  font-weight: bold;
}

.jumbotron h4
{
  font-size: 16px;
  margin-bottom: 4px;
}

.jumbotron h5
{
  font-size: 18px;
  margin-bottom: 4px;
}

.jumbotron ul
{
  margin-left: 0px;
}

.jumbotron li
{
  font-size: 12px;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: circle;
}

.jumbotron small
{
  color: #777777;
}

.jumbotron hr
{
  border-color: #777777;
}

.grey
{
  color: #777777;
}

.work-thumbnail
{
  max-width: 24px;
  max-height: 24px;
}

li.item-shift-left
{
  margin-left: 15px;
}

.shift-up
{
  margin-top: -3px;
}

.affix
{
  width: 262px;
}
