small
{
  font-size: 14px;
  color: #333333;
  margin-top: -10px;
  margin-bottom: 0px;
}

a
{
  text-decoration: none;
  color: #333333;
}

a:hover
{
  text-decoration: underline;
  color: #2A64B0;
}

.jumbotron
{
  background: #FFFFFF;
}

.jumbotron h5
{
  font-size: 18px;
  margin-bottom: 4px;
}

.jumbotron ul
{
  margin-left: 35px;
}

.jumbotron li
{
  font-size: 12px;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: circle;
}

.jumbotron small
{
  color: #777777;
}

.grey
{
  color: #777777;
}

.work-thumbnail
{
  max-width: 24px;
  max-height: 24px;
}

li.item-shift-left
{
  margin-left: 20px;
}
