small
{
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: -10px;
}

a
{
  text-decoration: none;
  color: #333333;
}

a:hover
{
  text-decoration: underline;
  color: #2A64B0;
}

.title
{
  font-size: 40px;
  font-weight: 900;
}

#resume-body
{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.jumbotron
{
  background: #FFFFFF;
}

.jumbotron h2
{
  white-space: nowrap;
}

.jumbotron h3
{
  font-size: 18px;
  font-weight: bold;
}

.jumbotron h4
{
  font-size: 14px;
  margin-right: -5px;
  margin-bottom: -5px;
  white-space: nowrap;
}

.jumbotron h5
{
  font-size: 18px;
  margin-bottom: 4px;
}

.jumbotron ul
{
  margin-left: 0px;
}

.jumbotron li
{
  font-size: 12px;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style-type: circle;
}

.jumbotron small
{
  color: #777777;
}

.jumbotron hr
{
  border-color: #777777;
}

.grey
{
  color: #777777;
}

.work-thumbnail
{
  max-width: 24px;
  max-height: 24px;
}

li.item-shift-left
{
  margin-left: 15px;
}

.shift-up
{
  margin-top: -3px;
}

.affix
{
  width: 262px;
}

.label
{
  background: #ABC147;
}

@media (max-width: 767px)
{
  .navbar-brand
  {
    margin-left: 15px;
  }

  .jumbotron
  {
    padding: 0px;
    padding-bottom: 15px;
  }

  .container
  {
    padding: 0px;
  }

  .title
  {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    white-space: normal;
  }

  .uw-se
  {
    margin-bottom: 100px;
    text-align: center;
    white-space: normal;
  }

  #resume-body
  {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0px;
  }

  .jumbotron h2
  {
    white-space: normal;
  }

  .jumbotron h4
  {
    text-align: center;
    white-space: normal;
  }

  .jumbotron ul
  {
    margin-left: 0px;
  }

  .jumbotron li
  {
    margin-left: 50px;
  }
}

@media (min-width: 768px)
{
  .title
  {
    margin-left: -8px;
  }

  .uw-se
  {
    margin-left: -5px;
  }
}