/* Constants */
@xs-max-width: 767px;
@sm-min-width: 768px;
@sm-max-width: 991px;
@md-min-width: 992px;
@md-max-width: 1199px;
@lg-min-width: 1200px;

@black-font-colour: #111;
@dark-font-colour: #444;
@white-font-colour: #EEE;
@grey-bg-colour: #CCC;

@dark-theme-colour: #027;
@medium-theme-colour: #04C;
@light-theme-colour: #06C;
@lighter-theme-colour: #08C;
@washed-theme-colour: #9BC;

@navbar-height: 64px;
@navbar-brand-font-size: 32px;

/* Site theming */
body {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: @black-font-colour;
  background-color: @grey-bg-colour;
}

img {
  padding: 5px;
  background-color: @white-font-colour;
}

hr {
  border-top: 1px solid @black-font-colour;
}

/* Bootstrap theming */
.navbar {
  min-height: @navbar-height;
  background-color: @medium-theme-colour;
}

.navbar-static-top {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: @navbar-brand-font-size;
  font-weight: bold;
  line-height: @navbar-brand-font-size + 2;
  height: @navbar-height;
  color: @white-font-colour;

  &:hover {
    color: @white-font-colour;
  }

  &:focus {
    color: @white-font-colour;
    background-color: @lighter-theme-colour;
    outline-width: 0;
  }

  @media(max-width: @sm-max-width) {
    margin-right: 0;
  }
  @media(min-width: @md-min-width) {
    margin-right: 25px;
  }
}

.navbar-nav {
  & > li {
    & > a {
      height: @navbar-height;
      padding: 22px;
      font-size: 18px;
      color: #EEE;

      @media(max-width: @md-max-width) {
        padding-left: 12px;
        padding-right: 12px;
      }

      &:hover,
      &:focus {
        background-color: @lighter-theme-colour;
        outline-width: 0;
      }

      &.navbar-icon {
        font-size: 40px;
        padding-right: 10px;
        padding-left: 10px;

        &:hover,
        &:focus {
          color: @washed-theme-colour;
          background-color: inherit;
        }
      }
    }
  }
  & > li.active {
    & > a {
      background-color: @light-theme-colour;

      &:hover,
      &:focus {
        background-color: @lighter-theme-colour;
        outline-width: 0;
      }
    }
  }
}

.navbar-right {
  margin-right: 0;
}

.jumbotron {
  // margin-top: @navbar-height;
  background-color: @dark-theme-colour;
  color: @white-font-colour;

  h1 {
    margin-top: 0;
  }
  p {
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  img {
    width: 100%;
  }
}

/* Footer */

/* Home page */
.home-content {
  @media(min-width: @sm-min-width) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

/* Projects page */
.projects-list {
  & > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
      .header {
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline;
      }
      .subheader {
        color: @dark-font-colour;
        font-size: 16px;
        font-style: italic;
      }
      ul {
        list-style-type: square;
        padding-left: 40px;
        li {
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
}
