/* Constants */
@xs-max-width: 767px;
@sm-min-width: 768px;
@sm-max-width: 991px;
@md-min-width: 992px;
@md-max-width: 1199px;
@lg-min-width: 1200px;

@black-font-colour: #111;
@dark-font-colour: #444;
@white-font-colour: #EEE;
@grey-bg-colour: #CCC;

@dark-theme-colour: #027;
@medium-theme-colour: #04C;
@light-theme-colour: #06C;
@lighter-theme-colour: #08C;
@washed-theme-colour: #9BC;

@navbar-height: 64px;
@navbar-brand-font-size: 32px;
@navbar-link-font-size: 18px;
@navbar-icon-size: 40px;
@navbar-icon-horizontal-padding: 10px;

@projects-title-font-size: 24px;
@projects-link-size: @projects-title-font-size;
@projects-languages-font-size: 16px;
@projects-dates-font-size: @projects-languages-font-size;

/* Site theming */
body {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  color: @black-font-colour;
  background-color: @grey-bg-colour;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  padding: 5px;
  background-color: @white-font-colour;
}

hr {
  border-top: 1px solid @black-font-colour;
}

/* Bootstrap */
.navbar {
  min-height: @navbar-height;
  background-color: @medium-theme-colour;
  border: 0;

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.navbar-collapse {
  border: 0;
}

.navbar-static-top {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: @navbar-brand-font-size;
  font-weight: bold;
  line-height: @navbar-brand-font-size + 2;
  height: @navbar-height;
  color: @white-font-colour;

  &:hover {
    color: @white-font-colour;
  }

  &:focus {
    color: @white-font-colour;
    background-color: @lighter-theme-colour;
    outline-width: 0;
  }

  @media(max-width: @sm-max-width) {
    margin-right: 0;
  }
  @media(min-width: @md-min-width) {
    margin-right: 25px;
  }
}

.navbar-nav {
  & > li {
    & > a {
      height: @navbar-height;
      padding: 22px;
      font-size: @navbar-link-font-size;
      color: #EEE;

      @media(max-width: @md-max-width) {
        padding-left: 12px;
        padding-right: 12px;
      }

      &:hover,
      &:focus {
        background-color: @lighter-theme-colour;
        outline-width: 0;
      }

      &.navbar-icon {
        font-size: @navbar-icon-size;
        padding-right: @navbar-icon-horizontal-padding;
        padding-left: @navbar-icon-horizontal-padding;

        &:hover,
        &:focus {
          color: @washed-theme-colour;
          background-color: inherit;
        }
      }
    }
  }
  & > li.active {
    & > a {
      background-color: @light-theme-colour;

      &:hover,
      &:focus {
        background-color: @lighter-theme-colour;
        outline-width: 0;
      }
    }
  }
}

.navbar-toggle {
  color: @white-font-colour;
  font-size: @navbar-icon-size;
  border-radius: 0;
  margin: 0;
  padding: 0 @navbar-icon-horizontal-padding;
  height: @navbar-height;

  &:hover,
  &:focus, {
    background-color: @lighter-theme-colour;
  }
}

.navbar-right {
  @media(min-width: @sm-min-width) {
    margin-right: 0;
  }
}

.jumbotron {
  background-color: @dark-theme-colour;
  color: @white-font-colour;

  h1 {
    margin-top: 0;
  }
  p {
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: #66A1D3;

    &:hover, &:focus {
      color: #4B82B3;
    }
  }
  img {
    width: 100%;
  }
}

/* Footer */
.footer {
  .contact {
    @media(max-width: @xs-max-width) {
      margin-bottom: 0;
    }
  }

  .license {
    @media(min-width: @sm-min-width) {
      text-align: right;
    }
  }
}

/* Home page */
.home-content {
  @media(min-width: @sm-min-width) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

/* Projects page */
.projects-list {
  & > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .title {
        font-size: @projects-title-font-size;
        font-weight: bold;
        text-decoration: underline;
      }
      .cta-github {
        font-size: @projects-link-size;

        a:hover,
        a:focus {
          text-decoration: none;
        }
      }
      .time {
        font-size: @projects-dates-font-size;

        @media(min-width: @sm-min-width) {
          float: right;
        }
        @media(max-width: @xs-max-width) {
          display: block;
        }
      }
      .languages {
        color: @dark-font-colour;
        font-size: @projects-languages-font-size;
        font-style: italic;
      }

      ul {
        list-style-type: square;
        padding-left: 40px;
        li {
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
}

/* Game */
#game-container {
  display: none;
}
body.game-mode {
  overflow: hidden;
}

#game-canvas {
  width: 100vw;
  height: 100vh;
}
