<div class="jumbotron">
  <div class="container">
    <h1>About Me</h1>
    <p class="last-item">Learn a bit of personal information about me.</p>
  </div>
</div>
<div class="container about-content">
  <div class="row side-by-side">
    <div class="col-xs-9">
      <h1 class="about-content__header">Mini Autobiography</h1>
      <p>
        Ever since an early age, I have been heavily invested into computers and electronics. I played a TON of video games as a kid and I still do to this day. Sometime around grade eight
        I thought it would be cool to make a video game of my own, so I did! It was awful but I really enjoyed making it and I discovered my love for development and programming. I knew early on
        in high school that I wanted to pursue a career in software engineering so that's what I did. The University of Waterloo looked like it was full of tremendous opportunities. I pretty
        much knew I had to go there. Waterloo is very close to my home town too so that's where I set my sights. I have always excelled in school so I was accepted into the Software Engineering
        program without too much trouble. Since then, I have continued to remain successful in my studies. I have had three internships to date, all of which have been terrific. Two of them were
        at Sony based in Waterloo where I worked on both Media Go and the PlayStation Web Store. The other one was at Yelp in San Francisco working with the Internationalization team on cool
        experiment stuff related to their sign up page. Overall, I'm killing it and I'm very happy to be where I am (end humble brag).
      </p>
    </div>
    <div class="col-xs-3">
      <img class="light-img-frame" src="/imgs/caricature.png" title="A caricature of myself." alt="A caricature of myself."/>
    </div>
  </div>
  <div class="row side-by-side">
    <div class="col-xs-4">
      <img class="light-img-frame" src="/imgs/signed-balls.jpg" title="Four of my juggling balls signed by Cowseb, Kripp, Scarra, and Meteos." alt="Four of my juggling balls signed by Cowseb, Kripp, Scarra, and Meteos."/>
    </div>
    <div class="col-xs-8">
      <h1 class="about-content__header">Hobbies and Interests</h1>
      <p>
        Previously I stated that I play an exceptional amount of video games, but I also have other interests too. Somewhat recently, I have fell in love with juggling. At my first internship
        with Sony, compile times were kind of long so I found myself wanting to do something during those times. Some of my co-workers were juggling veterans so I picked it up myself. I'm still
        quite the amateur but I know a few 3-ball patterns and two 4-ball patterns. Another one of my hobbies is volleyball. I'm about 6'4" so I'm well suited for the sport and my favourite position
        is middle. I was captain of my school's volleyball team in grade twelve and I played on a rep volleyball team during my last three years of high school. My team travelled all around Ontario
        to compete. Nowadays I just play the sport casually when I get the chance. In high school, my classes weren't very compelling, so I became an origami connoisseur to help fill my time. I
        focused a lot on modular origami (origami where models are built out of several of the exact same piece) due to its heavy connections with geometry. Board games and card games are also things
        I have a passion for. I played tons of Magic: The Gathering during the Return to Ravnica block and won a few <a href="http://archive.wizards.com/Magic/tcg/events.aspx?x=events/magic/fnm">FNMs</a>
        at my local game store but me (and my wallet) have taken a break from the activity, for now. I also like the board games <a href="https://en.wikipedia.org/wiki/Dominion_(card_game)">Dominion</a>
        and <a href="http://www.catan.com/">Settlers of Catan</a>. Lastly, I play a little bit of the guitar, and although I enjoy it, I'm pretty bad.
      </p>
    </div>
  </div>
  <div class="row side-by-side">
    <div class="col-xs-8">
      <h1 class="about-content__header">Games</h1>
      <p>
        I play a lot of video games to say the least. Currently, my favourite game is the ever popular League of Legends. You can see some of my stats below which are obtained using the Riot Games API. I've
        also grown quite interested in eSports. I watch plenty of professional League of Legends games, specifically North American and international events. I cheer for my favourite team, Cloud 9,
        which I became attached to due to their dominance in Season 3. Other than League of Legends, I've played extensive amounts of the following games. If you ever meet me, I would delighted to
        discuss any of them with you.
      </p>
      <ul>
        <li>Path of Exile</li>
        <li>World of Warcraft</li>
        <li>Counter Strike: Global Offensive</li>
        <li>Terraria</li>
        <li>osu!</li>
        <li>Minecraft</li>
        <li>Diablo</li>
        <li>Team Fortress 2</li>
        <li>Little Big Planet</li>
        <li>Elder Scrolls (Oblivion and Skyrim)</li>
        <li>Borderlands</li>
        <li>Rock Band</li>
        <li>Call of Duty</li>
        <li>Burnout</li>
        <li>Mario Kart</li>
        <li>Mario Party</li>
        <li>Super Smash Bros. Melee</li>
        <li>Ratchet and Clank</li>
        <li>Warcraft 3</li>
        <li>Spyro</li>
        <li>Pokémon</li>
      </ul>
    </div>
    <div class="col-xs-4">
      <img class="light-img-frame" src="/imgs/kripp.jpg" title="A picture of Kripp and I at Good Game Con 2015." alt="A picture of Kripp and I at Good Game Con 2015."/>
    </div>
  </div>
  <h1 class="about-content__header">League of Legends Stats</h1>
  <div data-pw-lol-stats data-stats="lolStats" data-is-loading="lolStatsLoading"></div>
</div>
