<div class="jumbotron">
  <div class="container">
    <h1>About Me</h1>
    <p class="last-item">Learn a bit of personal information about me.</p>
  </div>
</div>
<div class="container">
  <h1>Mini Autobiography</h1>
  <p>
    Ever since an early age, I have been heavily invested into computers and electronics. I played a TON of video games as a kid and I still do to this day. Sometime around grade eight
    I thought it would be cool to make a video game of my own, so I did! It was awful but I really enjoyed making it and I discovered my love for development and programming. I knew early on
    in high school that I wanted to pursue a career in software engineering so that's what I did. The University of Waterloo looked like it was full of tremendous opportunities so I pretty
    much knew I had to go there. Waterloo is very close to my home town too so that's where I set my sights. I have always excelled in school so I was accepted into the Software Engineering
    program without too much trouble. Since then, I have continued to remain successful in my studies. I have had three internships to date, all of which have been terrific. Two of them were
    at Sony based in Waterloo where I worked on both Media Go and the PlayStation Web Store. The other one was at Yelp in San Francisco working with the Internationalization team on cool
    experiment stuff related to their sign up page. Overall, I'm killing it and I'm very happy to be where I am (end humble brag).
  </p>
</div>
