<div class="jumbotron jumbotron--home">
  <div class="container">
    <div class="row side-by-side-sm">
      <div class="col-md-3 col-sm-6 hidden-xs">
        <img class="light-img-frame" src="/imgs/jace.jpg" title="Jace from MTG. An avatar I like to use." alt="Jace from MTG. An avatar I like to use."/>
      </div>
      <div class="col-md-8 col-md-push-1 col-sm-6 col-xs-12">
        <div>
          <p>Hi there! I'm an avid programmer and gamer and I'm a 4A computer science student at the University of Waterloo. I have many cool projects that you can check out here and on my GitHub page.</p>
          <p>Take a look at my latest projects that I'm working on: <a href="/mlf" target="_self">My LoL Fantasy</a> and <a href="/teamtris" target="_self">Teamtris</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-ng-include data-src="'/partials/play-game.html'"></div>
