<div class="jumbotron">
  <div class="container">
    <h1>Licenses</h1>
    <p>Some legal jibber-jabber.</p>
  </div>
</div>
<div class="container">
  <h1 class="content-heading">Site</h1>
  <p>This project is under the <a href="https://github.com/PeteyPii/PersonalWebsite/blob/development/LICENSE">MIT License</a>.</p>

  <h1 class="content-heading">3rd Party</h1>
  <p>I make use of several 3rd party libraries in this project. View the licenses for these libraries on <a href="https://github.com/PeteyPii/PersonalWebsite/tree/development/licenses">GitHub</a>.</p>
</div>
