<div class="jumbotron">
  <div class="container">
    <h1>Projects</h1>
    <p>Here you can find a list of the projects I've worked on. For more in-depth information, you can check out my GitHub profile where I publish most of my code.</p>
  </div>
</div>
<div class="container projects-list">
  <ul>
    <li>
      <div class="header">
        <span class="title">My LoL Fantasy</span>
        <span class="cta-github"><a href="https://github.com/PeteyPii/MyLoLFantasy" title="Project link" class="fa fa-share-square-o"></a></span>
        <span class="time">November 2014 &ndash; Present</span>
      </div>
      <div class="subheader">
        <span class="languages">JavaScript, HTML5, CSS3, SQL</span>
      </div>
      <ul>
        <li>Web app I made with my friends at a hackathon</li>
        <li>The app tracks you and your friends' stats in League of Legends games and compares them in a Fantasy-esque system</li>
        <li>ExpressJS web server renders <a href="http://jade-lang.com/">jade</a> templates for client requests</li>
        <li>User and statistic data is persisted in a PostgreSQL database</li>
        <li>Redis is used to cache session data and Riot Games API requests</li>
      </ul>
    </li>

    <li>
      <div class="header">
        <span class="title">Personal Website</span>
        <span class="cta-github"><a href="https://github.com/PeteyPii/PersonalWebsite" title="Project link" class="fa fa-share-square-o"></a></span>
        <span class="time">July 2014 &ndash; Present</span>
      </div>
      <div class="subheader">
        <span class="languages">JavaScript, HTML5, CSS3</span>
      </div>
      <ul>
        <li>Website I created to showcase my professional career and to gain some web development skills</li>
        <li>Uses the following frameworks: Node.js, AngularJS, jQuery</li>
      </ul>
    </li>

    <li>
      <div class="header">
        <span class="title">Briscola Stat Tracker</span>
        <span class="time">May 2014 &ndash; July 2014</span>
      </div>
      <div class="subheader">
        <span class="languages">Java</span>
      </div>
      <ul>
        <li>A simple app I made to delve into Android development</li>
        <li>It keeps stats on bids and points earned for the trick-based card game <a href="http://en.wikipedia.org/wiki/Briscola">Briscola</a></li>
      </ul>
    </li>

    <li>
      <div class="header">
        <span class="title">Project Euler and HackerRank</span>
        <span class="cta-github"><a href="https://github.com/PeteyPii/Euler" title="Project link" class="fa fa-share-square-o"></a></span>
        <span class="time">March 2014 &ndash; Present</span>
      </div>
      <div class="subheader">
        <span class="languages">C++, Python</span>
      </div>
      <ul>
        <li>I like puzzles so I have done a number of problems on these sites</li>
        <li>30 problems solved on Project Euler</li>
        <li>~260 points earned in Algorithms on HackerRank</li>
      </ul>
    </li>

    <li>
      <div class="header">
        <span class="title">Pokémon Type Effectiveness Table</span>
        <span class="time">December 2013</span>
      </div>
      <div class="subheader">
        <span class="languages">Python, Regular Expression</span>
      </div>
      <ul>
        <li>Out of frustration with new Pokémon being released and the new Fairy type, I wanted a quick lookup table to know which moves to use against which Pokémon</li>
        <li>Parses the HTML of a web page on <a href="http://bulbapedia.bulbagarden.net/wiki/Main_Page">Bulbapedia</a> with a Regular Expression</li>
        <li>A Python script uses the parsed data to create a table that shows the effectiveness of every type versus every Pokémon</li>
      </ul>
    </li>

    <li>
      <div class="header">
        <span class="title">Minesweeper</span>
        <span class="cta-github"><a href="https://github.com/PeteyPii/Minesweeper" title="Project link" class="fa fa-share-square-o"></a></span>
        <span class="time">May 2013 &ndash; July 2013</span>
      </div>
      <div class="subheader">
        <span class="languages">C++</span>
      </div>
      <ul>
        <li>I wanted to automatically keep track of some more specific stats while playing Minesweeper so I created my own app for it</li>
        <li>Full game complete with graphics, settings, and persisted statistics</li>
        <li>Works on Windows, OS X, and Linux</li>
        <li>OS specific tasks are done using <a href="http://www.sfml-dev.org/">SFML</a></li>
      </ul>
    </li>

    <li>
      <div class="header">
        <span class="title">Dominion</span>
        <span class="cta-github"><a href="https://github.com/PeteyPii/Dominion" title="Project link" class="fa fa-share-square-o"></a></span>
        <span class="time">September 2012 &ndash; November 2012</span>
      </div>
      <div class="subheader">
        <span class="languages">C++</span>
      </div>
      <ul>
        <li>I created a text-based version of this deck-building card game because shuffling decks is annoying</li>
        <li>Every feature and card of the original version of the game is implemented</li>
        <li>Cross-platform multiplayer support using a client/server model</li>
      </ul>
    </li>
  </ul>
</div>
