<div class="jumbotron">
  <div class="container">
    <h1>Projects</h1>
    <p>Here you can find a list of the projects I've worked on. For more in-depth information, you can check out my GitHub profile where I publish most of my code.</p>
  </div>
</div>
<div class="container projects-list">
  <ul>
    <li>
      <div class="header">
        <span class="title">My LoL Fantasy</span>
        <span class="cta-github"><a href="https://github.com/PeteyPii/MyLoLFantasy" title="Project link" class="fa fa-share-square-o"></a></span>
        <span class="time">November 2014 &ndash; Present</span>
      </div>
      <div class="subheader">
        <span class="languages">JavaScript, HTML5, CSS3, SQL</span>
      </div>
      <ul>
        <li>Web app I made with my friends at a UWaterloo hackathon</li>
        <li>The app tracks you and your friends' stats in League of Legends games and compares them in a Fantasy-esque system</li>
        <li>ExpressJS web server renders <a href="http://jade-lang.com/">jade</a> templates for client requests</li>
        <li>User and statistic data is persisted in a <a href="http://www.postgresql.org/">PostgreSQL</a> database</li>
        <li><a href="http://redis.io/">Redis</a> is used to cache session data and <a href="https://developer.riotgames.com/">Riot Games API</a> requests</li>
      </ul>
    </li>

    <li>
      <div class="header">
        <span class="title">Personal Website</span>
        <span class="cta-github"><a href="https://github.com/PeteyPii/PersonalWebsite" title="Project link" class="fa fa-share-square-o"></a></span>
        <span class="time">July 2014 &ndash; Present</span>
      </div>
      <div class="subheader">
        <span class="languages">JavaScript, HTML5, CSS3</span>
      </div>
      <ul>
        <li>Website I created to showcase my professional career and to gain some web development skills</li>
        <li>Makes use the following frameworks: <a href="https://nodejs.org/en/">Node.js</a>, <a href="https://angularjs.org/">AngularJS</a>, <a href="https://jquery.com/">jQuery</a></li>
      </ul>
    </li>

    <li>
      <div class="header">
        <span class="title">Project Euler</span>
        <span class="cta-github"><a href="https://github.com/PeteyPii/Euler" title="Project link" class="fa fa-share-square-o"></a></span>
        <span class="time">March 2014 &ndash; Present</span>
      </div>
      <div class="subheader">
        <span class="languages">C++</span>
      </div>
      <ul>
        <li>I like puzzles so I have done many of the problems on <a href="https://projecteuler.net/about">Project Euler</a></li>
        <li>75+ problems solved</li>
        <li>I code general solutions to problems and try to make my code as efficient as possible</li>
        <li>Top 3% of participants!</li>
      </ul>
    </li>

    <li>
      <div class="header">
        <span class="title">Pokémon Type Effectiveness Table</span>
        <span class="time">December 2013</span>
      </div>
      <div class="subheader">
        <span class="languages">Python, Regular Expression</span>
      </div>
      <ul>
        <li>Out of frustration with new Pokémon being released and the new Fairy type, I wanted a quick lookup table to know which moves to use against which Pokémon</li>
        <li>Scrapes the HTML of a web page on <a href="http://bulbapedia.bulbagarden.net/wiki/Main_Page">Bulbapedia</a> with a Regular Expression (knowing full well that HTML is not a regular language!)</li>
        <li>A Python script uses the parsed data to create a table that shows the effectiveness of every type versus every Pokémon</li>
      </ul>
    </li>

    <li>
      <div class="header">
        <span class="title">Minesweeper</span>
        <span class="cta-github"><a href="https://github.com/PeteyPii/Minesweeper" title="Project link" class="fa fa-share-square-o"></a></span>
        <span class="time">May 2013 &ndash; July 2013</span>
      </div>
      <div class="subheader">
        <span class="languages">C++</span>
      </div>
      <ul>
        <li>I wanted to automatically keep track of some more specific stats while playing Minesweeper so I created my own app for it</li>
        <li>Full game complete with graphics, settings, and persisted statistics</li>
        <li>Works on Windows, OS X, and Linux</li>
        <li>OS specific tasks are done using <a href="http://www.sfml-dev.org/">SFML</a></li>
      </ul>
    </li>

    <li>
      <div class="header">
        <span class="title">Dominion</span>
        <span class="cta-github"><a href="https://github.com/PeteyPii/Dominion" title="Project link" class="fa fa-share-square-o"></a></span>
        <span class="time">September 2012 &ndash; November 2012</span>
      </div>
      <div class="subheader">
        <span class="languages">C++</span>
      </div>
      <ul>
        <li>I created a text-based version of this deck-building card game because shuffling decks is annoying</li>
        <li>Every feature and card of the original version of the game is implemented</li>
        <li>Cross-platform multiplayer support using a client/server model</li>
      </ul>
    </li>
  </ul>
</div>
