/* Constants */
/* Site theming */
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #111111;
  background-color: #cccccc;
}
img {
  padding: 5px;
  background-color: #eeeeee;
}
hr {
  border-top: 1px solid #111111;
}
/* Bootstrap theming */
.navbar {
  min-height: 64px;
  background-color: #0044cc;
}
.navbar-static-top {
  margin-bottom: 0;
}
.navbar-brand {
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  color: #eeeeee;
}
.navbar-brand:hover {
  color: #eeeeee;
}
.navbar-brand:focus {
  color: #eeeeee;
  background-color: #0088cc;
  outline-width: 0;
}
@media (max-width: 991px) {
  .navbar-brand {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .navbar-brand {
    margin-right: 25px;
  }
}
.navbar-nav > li > a {
  height: 64px;
  padding: 22px;
  font-size: 18px;
  color: #EEE;
}
@media (max-width: 1199px) {
  .navbar-nav > li > a {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: #0088cc;
  outline-width: 0;
}
.navbar-nav > li > a.navbar-icon {
  font-size: 40px;
  padding-right: 10px;
  padding-left: 10px;
}
.navbar-nav > li > a.navbar-icon:hover,
.navbar-nav > li > a.navbar-icon:focus {
  color: #99bbcc;
  background-color: inherit;
}
.navbar-nav > li.active > a {
  background-color: #0066cc;
}
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus {
  background-color: #0088cc;
  outline-width: 0;
}
.navbar-right {
  margin-right: 0;
}
.jumbotron {
  background-color: #002277;
  color: #eeeeee;
}
.jumbotron h1 {
  margin-top: 0;
}
.jumbotron p {
  margin-bottom: 28px;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.jumbotron img {
  width: 100%;
}
/* Footer */
/* Home page */
@media (min-width: 768px) {
  .home-content {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
/* Projects page */
.projects-list > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.projects-list > ul > li {
  margin-bottom: 10px;
}
.projects-list > ul > li:last-child {
  margin-bottom: 0;
}
.projects-list > ul > li .header {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}
.projects-list > ul > li .subheader {
  color: #444444;
  font-size: 16px;
  font-style: italic;
}
.projects-list > ul > li ul {
  list-style-type: square;
  padding-left: 40px;
}
.projects-list > ul > li ul li {
  font-size: 16px;
  font-weight: normal;
}
