<div class="jumbotron">
  <div class="container">
    <div class="row center-vertically">
      <div class="col-md-3">
        <img src="/assets/jace.jpg" alt="Jace from MTG. An avatar I like to use."></img>
      </div>
      <div class="col-md-8 col-md-push-1">
        <div>
          <p>Hi there! I'm an avid programmer and gamer and I'm a 2B Software Engineering student at the University of Waterloo. I have many cool projects that you can check out here and on my GitHub page.</p>
          <p class="last-item">Take a look at my latest project I'm working on: My LoL Fantasy</p>
        </div>
      </div>
    </div>
  </div>
</div>
