<div class="jumbotron">
  <div class="container">
    <h1>Projects</h1>
    <p class="last-item">Here you can find a list fo the projects I've worked on. For more in-depth information you can check out my GitHub profile where I publish most of my code.</p>
  </div>
</div>
<div class="container projects-list">
  <ul>
    <li>
      <div class="title">
        <span>My LoL Fantasy</span>
      </div>
      <div class="languages">
        <span>JavaScript, HTML5, CSS3</span>
      </div>
      <ul>
        <li>Fantasy League of Legends app where you yourself are your own point-earner</li>
        <li>Frameworks: Flask, Node.js, PostgreSQL, Riot Games API</li>
      </ul>
    </li>
    <li>
      <span>Personal Website</span>
      <ul>
        <li>Website I created to showcase my professional career</li>
        <li>JavaScript, HTML5, CSS3</li>
        <li>Framework: AngularJS</li>
      </ul>
    </li>
    <li>
      <span>Briscola Stat Tracker</span>
      <ul>
        <li>Android app that keeps stats of bids and points earned for a trick-based card game</li>
        <li>Java</li>
      </ul>
    </li>
    <li>
      <span>Project Euler and HackerRank</span>
      <ul>
        <li>When I'm bored I'll do a problem or two on these sites</li>
        <li>C++, Python</li>
        <li>30 problems solved on Project Euler</li>
        <li>~260 points earned in Algorithms on HackerRank</li>
      </ul>
    </li>
    <li>
      <span>Pokémon Type Effectiveness Table</span>
    </li>
    <li>
      <span>Minesweeper</span>
    </li>
    <li>
      <span>Dominion</span>
    </li>
    <li class="last-item">
      <span>Forge Repair</span>
    </li>
    <!-- <li>Hardcore Server Death</li> -->
  </ul>
</div>
