.jumbotron
  .container
    h1 About Me
    p Learn a bit of personal information about me.
.container.about-me-content
  .row.side-by-side-sm
    .col-md-9.col-sm-8.col-xs-12
      h1.content-heading.content-heading--v-even Mini Autobiography
      p.
        Ever since an early age, I have been heavily invested in computers and electronics. I played a TON of video games as a kid and I still do to this day. Sometime around grade eight
        I thought it would be cool to make a video game of my own, so I did! It was awful but I really enjoyed making it and I discovered my love for development and programming. I knew early on
        in high school that I wanted to pursue a career in software engineering so that's what I did. The University of Waterloo looked like it was full of tremendous opportunities, so I figured
        I belonged there. Waterloo is of close proximity to my home town too, so that's where I set my sights. I have always excelled in school so I was accepted into the Software Engineering
        program without too much trouble. Since then, I have continued to shine in my studies. I have had four internships to date, all of which have been terrific. Two of them were
        at Sony based in Waterloo where I worked on both Media Go and the PlayStation Web Store. The third was at Yelp in San Francisco working with the Internationalization team on cool
        experiment stuff related to their sign up page. I secured a position at Google in New York for my most recent coop job, did a bunch of stuff for knowledge panels on Search and now
        I'm back in Waterloo. Overall, I'm killing it and I'm very happy to be where I am (end humble brag).
    .col-md-3.col-sm-4.col-sm-push-0.col-xs-8.col-xs-push-2
      img.about-me-content__img.light-img-frame(src='/imgs/caricature.png?v=' + version, title='A caricature of myself.', alt='A caricature of myself.')
  .row.side-by-side-sm
    .col-md-8.col-md-push-4.col-sm-7.col-sm-push-5
      h1.content-heading.content-heading--v-even Hobbies and Interests
      p.
        Previously I stated that I play an exceptional amount of video games, but I also have other interests too. Somewhat recently, I have fell in love with juggling. At my first internship
        with Sony, compile times were kind of long so I found myself wanting to do something during those times. Some of my co-workers were juggling veterans so I picked it up myself. I'm still
        quite the amateur but I know a few 3-ball patterns and two 4-ball patterns. Another one of my hobbies is volleyball. I'm about 6'4" so I'm well suited for the sport and my favourite position
        is middle. I was captain of my school's volleyball team in grade twelve and I played on a rep volleyball team during my last three years of high school. My team travelled all around Ontario
        to compete. Nowadays I just play the sport casually when I get the chance. In high school, my classes weren't very compelling, so I became an origami connoisseur to help fill my time. I
        focused a lot on modular origami (origami where models are built out of several of the exact same piece) due to its heavy connections with geometry. Board games and card games are also things
        I have a passion for. I played tons of Magic: The Gathering during the Return to Ravnica block and won a few #[a(href='http://archive.wizards.com/Magic/tcg/events.aspx?x=events/magic/fnm') FNMs]
        at my local game store but me (and my wallet) have taken a break from the activity, for now. I also like the board games #[a(href='https://en.wikipedia.org/wiki/Dominion_(card_game)') Dominion]
        and #[a(href='http://www.catan.com/') Settlers of Catan]. Lastly, I play a little bit of the guitar, and although I enjoy it, I'm pretty bad.
    .col-md-4.col-md-pull-8.col-sm-5.col-sm-pull-7.col-sm-push-0.col-xs-8.col-xs-push-2
      img.about-me-content__img.light-img-frame(src='/imgs/signed-balls.jpg?v=' + version, title='Four of my juggling balls signed by Cowseb, Kripp, Scarra, and Meteos.', alt='Four of my juggling balls signed by Cowseb, Kripp, Scarra, and Meteos.')
  .row.side-by-side-sm
    .col-md-8.col-sm-7.col-xs-12
      h1.content-heading.content-heading--v-even Games
      p.
        I play a lot of video games to say the least. Currently, my favourite game is the ever popular League of Legends. You can see some of my stats below which are obtained using the Riot Games API. I've
        also grown quite interested in eSports. I watch plenty of professional League of Legends games, specifically North American and international events. I cheer for my favourite team, Cloud 9,
        which I became attached to due to their dominance in Season 3. Other than League of Legends, I've played extensive amounts of the following games. If you ever meet me, I would delighted to
        discuss any of them with you.
      ul
        li Rocket League
        li Path of Exile
        li World of Warcraft
        li Counter Strike: Global Offensive
        li Terraria
        li osu!
        li Minecraft
        li Diablo
        li Team Fortress 2
        li Little Big Planet
        li Elder Scrolls (Oblivion and Skyrim)
        li Borderlands
        li Rock Band
        li Call of Duty
        li Burnout
        li Mario Kart
        li Mario Party
        li Super Smash Bros. Melee
        li Ratchet and Clank
        li Warcraft 3
        li Spyro
        li Pokémon
    .col-md-4.col-sm-5.col-sm-push-0.col-xs-8.col-xs-push-2
      img.about-me-content__img.light-img-frame(src='/imgs/kripp.jpg?v=' + version, title='A picture of Kripp and I at Good Game Con 2015.', alt='A picture of Kripp and I at Good Game Con 2015.')
