.jumbotron.jumbotron--home
  .container
    .row.side-by-side-sm
      .col-md-3.col-sm-6.hidden-xs
        img.light-img-frame(src='/imgs/jace.jpg?v=' + version, title='Jace from MTG. An avatar I like to use.', alt='Jace from MTG. An avatar I like to use.')
      .col-md-8.col-md-push-1.col-sm-6.col-xs-12
        div
          p Hi there! I'm an avid programmer and gamer. I have many cool projects that you can check out here and on my GitHub page.
          p Take a look at my latest project that I've worked on: #[a(href='/teamtris', target='_self') Teamtris].

div(data-ng-include, data-src="'/partials/play-game.html?v=#{version}'")
.yolo
