.jumbotron
  .container
    h1 Licenses
    p Some legal jibber-jabber.
.container
  h1.content-heading Site
  p This project is under the #[a(href='https://github.com/PeteyPii/PersonalWebsite/blob/development/LICENSE') MIT License].

  h1.content-heading 3rd Party
  p I make use of several 3rd party libraries in this project. View the licenses for these libraries on #[a(href='https://github.com/PeteyPii/PersonalWebsite/tree/development/licenses') GitHub].
