.jumbotron
  .container
    h1 Privacy Policy
    p Keeping your secrets safe.
.container
  h1.content-heading Privacy Policy
  p.
    I collect some anonymous information on the activity of the site's visitors. The purpose is mainly to see if there is any way to improve the
    site experience. I do not collect any personal identifiable information nor do I sell any information I gather to any third parties. Some
    sections of the site allow you to submit information (e.g. signing up or creating a League on #[a(href='/mlf') My LoL Fantasy]). This information
    is stored by the service in order to provide certain site functionality. You are welcome to use pseudonymous information in order to protect
    your identity.

  h1.content-heading Cookies
  p.
    This site makes use of cookies to do a few things. One: I use Google Analytics to get an idea of the site's traffic. Two: certain sections of the site
    (#[a(href='/mlf') My LoL Fantasy] for instance) make use of a session identifier to keep track of session-based information on visitors, such as whether
    a user is logged in. That's pretty much it! Nothing too out of the ordinary.
