.lol-stats-container
  .lol-stats-container__tabs(data-ng-init="selected = 'ranked'")
    .lol-stats-tab(data-ng-class="{ 'lol-stats-tab--selected': selected == 'ranked' }")
      button#lol-stats-ranked-btn.lol-stats-tab__btn(tabindex='-1', data-ng-click="selected = 'ranked'") Ranked
    .lol-stats-tab(data-ng-class="{ 'lol-stats-tab--selected': selected == 'mastery' }")
      button#lol-stats-mastery-btn.lol-stats-tab__btn(tabindex='-1', data-ng-click="selected = 'mastery'") Mastery

  .lol-stats-container__loading(data-ng-show='loading')
    h2.lol-stats-message #[i.fa.fa-spinner.fa-spin] Loading...

  .lol-stats-container__error(data-ng-show='error')
    h2.lol-stats-message An error occurred. Try refreshing the page.
      i.fa.fa-frown-o

  .lol-stats-container__info(data-ng-show='!loading && !error')
    .lol-stats-summoner
      img.lol-stats-summoner__icon(data-ng-src='{{ summonerIconSrc }}', alt='My summoner icon')
      span.lol-stats-summoner__name {{ stats.summonerName }}
      span.lol-stats-summoner__id (ID \#{{ stats.summonerId }})

    .lol-stats-stats(data-ng-show="selected == 'ranked'")
      .lol-stats-data-point
        img.lol-stats-data-point__medal(data-ng-src='{{ threesMedalSrc }}', data-ng-alt='{{ threesMedalAlt }}')
        .lol-stats-data-point__title: em 3v3
        .lol-stats-data-point__rank-title: strong {{ threesRank }} - {{ stats.threes.leaguePoints }} LP
        .lol-stats-data-point__rank-wins: strong  {{ stats.threes.wins }} W / {{ stats.threes.losses }} L
      .lol-stats-data-point
        img.lol-stats-data-point__medal(data-ng-src='{{ soloQueueMedalSrc }}', data-ng-alt='{{ soloQueueMedalAlt }}')
        .lol-stats-data-point__title: em Solo/Duo
        .lol-stats-data-point__rank-title: strong {{ soloQueueRank }} - {{ stats.soloQueue.leaguePoints }} LP
        .lol-stats-data-point__rank-wins: strong  {{ stats.soloQueue.wins }} W / {{ stats.soloQueue.losses }} L
      .lol-stats-data-point
        img.lol-stats-data-point__medal(data-ng-src='{{ flexMedalSrc }}', data-ng-alt='{{ flexMedalAlt }}')
        .lol-stats-data-point__title: em Flex
        .lol-stats-data-point__rank-title: strong {{ flexRank }} - {{ stats.flex.leaguePoints }} LP
        .lol-stats-data-point__rank-wins: strong  {{ stats.flex.wins }} W / {{ stats.flex.losses }} L

    .lol-stats-stats(data-ng-show="selected == 'mastery'")
      .lol-stats-data-point
        .lol-stats-top-champs
          .lol-stats-top-champ(data-ng-repeat='topChamp in stats.topChamps')
            img.lol-stats-top-champ__img(data-ng-src='{{ topChamp.image }}')
            .lol-stats-top-champ__text #[strong {{ topChamp.points }}] pts
      .lol-stats-data-point
        img.lol-stats-data-point__medal(data-ng-src='{{ masteryScoreMedalSrc }}', data-ng-alt='{{ masteryScoreMedalAlt }}')
        .lol-stats-data-point__title: strong Mastery Score
        .lol-stats-data-point__value: strong {{ stats.masteryScore }}
      .lol-stats-data-point
        img.lol-stats-data-point__medal(data-ng-src='{{ masteryPointsMedalSrc }}', data-ng-alt='{{ masteryPointsMedalAlt }}')
        .lol-stats-data-point__title: strong Total Mastery Points
        .lol-stats-data-point__value: strong {{ totalMasteryPoints }}
